@{
  Layout = "_Layout";
}

@model Registrar.Models.Student

<h1>Add a new Student</h1>

@using (Html.BeginForm())
{
  @Html.Label("StudentName", "Student Name")<br>
  @Html.TextBoxFor(model => model.StudentName)<br>

  @Html.Label("StudentSocialScore", "Student Social Score")<br>
  @Html.TextBoxFor(model => model.StudentSocialScore)<br>

  <input type="submit" value="Add new Student" /><br>
}

<p>@Html.ActionLink("Show all Students", "Index")</p>

