@model Registrar.Models.Student

@{
  Layout = "_Layout";
}

<h1>Edit this student: @Html.DisplayFor(model => model.StudentName)</h1>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StudentId)

  @Html.LabelFor(model => model.StudentName)
  @Html.EditorFor(model => model.StudentName)<br>

  @Html.LabelFor(model => model.StudentSocialScore)
  @Html.EditorFor(model => model.StudentSocialScore)<br>

  @Html.LabelFor(model => model.EnrollmentDate)
  @Html.EditorFor(model => model.EnrollmentDate , new { @type = "date"})<br>

  @Html.Label("Select Course")
  @Html.DropDownList("CourseId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to Students", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>

