@{
  Layout = "_Layout";
}

@model Registrar.Models.Department

<h2>Are you sure you want to delete this department?</h2>

<h3>@Html.DisplayNameFor(model => model.DepartmentName) : @Html.DisplayFor(model => model.DepartmentName)</h3>

@using (Html.BeginForm())
{
    <input type="submit" value="Delete" />
}

<p>@Html.ActionLink("Add new Department", "Create")</p>
<p>@Html.ActionLink("Departments", "Index", "Departments")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>