@{
  Layout = "_Layout";
}

@model Registrar.Models.Professor

<h1>Add a new Professor</h1>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.ProfessorName) <br>
  @Html.TextBoxFor(model => model.ProfessorName) <br>
  @Html.LabelFor(model => model.Tenure) <br>
  @Html.CheckBoxFor(model => model.Tenure) <br>

    <input type="submit" value="Add Professor" /><br>
}

<p>@Html.ActionLink("Show all Professors", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>